html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
  }
  
  body {
    margin: 0;
    padding: 0 1.5rem;
  }
  
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  
  .country {
    fill: #7e97ae;
    outline: none;
  }
  .country:hover {
    fill: #f2ae2e;
    cursor: pointer;
  }
  .country:active {
    fill: blue;
  }